.dialog-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  min-width: 500px;
  min-height: 550px; /* Increased height */
  padding-top: 10px;
}

.full-width {
  width: 100%;
}

mat-dialog-content {
  padding-top: 10px;

  /* Remove internal scrollbar */
  max-height: unset !important;
  overflow: hidden !important;
}

mat-dialog-actions {
  padding: 16px 0 0;
}

button[mat-raised-button] {
  min-width: 100px;
}