<!-- <router-outlet></router-outlet> -->

<div class="app-layout">

  <!-- SIDEBAR -->
  <aside class="sidebar">
    <h2 class="logo">Condominium Amenity Bookings</h2>

    <nav *ngIf="this.showLayout">
      <a routerLink="/amenities" routerLinkActive="active">Amenity Booking</a>
      <a routerLink="/booking/bbq" routerLinkActive="active">BBQ</a>
      <a routerLink="/booking/function-room" routerLinkActive="active">Function Room</a>
      <a routerLink="/booking/tennis-court" routerLinkActive="active">Tennis Court</a>
      <a routerLink="/my-bookings" routerLinkActive="active">Bookings</a>
      <a routerLink="/register" routerLinkActive="active" *ngIf="this.isAdminRole">Register</a>
      <a routerLink="/admin-dashboard" routerLinkActive="active" *ngIf="this.isAdminRole"> Admin Dashboard </a>
      <a routerLink="/admin-amenity-config" routerLinkActive="active" *ngIf="this.isAdminRole"> Amenity Configuration </a>
    </nav>

    <!-- LOGOUT BUTTON -->
    <div class="sidebar-bottom" *ngIf="this.showLayout">

      <button class="logout-btn" (click)="logout()">
        Logout
      </button>

    </div>
  </aside>

  <!-- MAIN -->
  <section class="main">

    <!-- TOP BAR -->
    <header class="topbar" *ngIf="this.showLayout">
      <span class="user">Welcome, {{this.userName}}</span>
    </header>

    <!-- PAGE CONTENT (CHANGES HERE) -->
    <router-outlet></router-outlet>

  </section>
</div>

