<!-- <router-outlet></router-outlet> -->

<div class="app-layout">

  <!-- SIDEBAR -->
  <aside class="sidebar">
    <h2 class="logo">Condominium Amenity Bookings</h2>

    <nav>
      <a routerLink="/amenities" routerLinkActive="active">Amenity Booking</a>
      <a routerLink="/booking/bbq" routerLinkActive="active">BBQ</a>
      <a routerLink="/booking/function-room" routerLinkActive="active">Function Room</a>
      <a routerLink="/booking/tennis-court" routerLinkActive="active">Tennis Court</a>
      <a routerLink="/my-bookings" routerLinkActive="active">My Bookings</a>
      <a routerLink="/register" routerLinkActive="active">Register</a>
    </nav>
  </aside>

  <!-- MAIN -->
  <section class="main">

    <!-- TOP BAR -->
    <header class="topbar">
      <span class="user">Welcome, Chrisie</span>
    </header>

    <!-- PAGE CONTENT (CHANGES HERE) -->
    <router-outlet></router-outlet>

  </section>
</div>

